h2 {
  font-family: "Quattrocento", serif;
}

.profile-column {
  background-color: #f2e3d2;
  border-radius: 50px;
  width: 600px;
  height: 600px;
}

.head-shot {
  height: 500px;
  margin: auto;
}
@media (max-width: 768px) {
  .content {
    padding: 20px;
  }
}
