.footer {
  background-color: #687dac;
  padding: 90px 80px;
}

.row {
  padding: 50px 30px;
}

.footer p,
.footer a {
  color: #fff;
  margin: 0;
}

.site-links {
  position: relative;
  left: 450px;
}

hr {
  color: #fff;
  margin-top: 60px;
}
